{% extends 'layouts/default/page.html' %}
{% load static %}

{% load i18n %}

{% load myfunc %}

{% block content %}

{% block styles %}
<style>
    table {
        text-align: center;
    }

    th,
    tr,
    td {
        border: 1px solid rgba(0, 0, 0, .125);
        padding: 0.5rem;
    }

    th {
        font-size: larger;
    }

    .inprogress {
        font-weight: bold;
        color: #ffc107;
    }

    .submitted {
        font-weight: bold;
        color: #6c757d;
    }

    .rejected {
        font-weight: bold;
        color: #dc3545;
    }

    .success {
        font-weight: bold;
        color: #28a745;
    }

    .main_container {
        width: 75%;
        margin: auto;
    }

    select {
        width: fit-content !important;
    }

    .ItemDetails,
    .greyBg {
        background: #d0d0d0;
        padding: 0.5rem 0rem;
        border: 1px solid #313131;
    }

    .ItemDetails {
        background-color: #ececec;
        font-weight: bold;
    }

    .candidateTable td:first-child {
        background: #ececec
    }

    .candidateTable td:nth-child(2n+3) {
        background: #ececec
    }

    .candidateTable td {
        border: 1px solid #313131;
    }

    .styleRed {
        background-color: #ff0000;
    }

    .styleYellow {
        background-color: #ffe509;
    }

    .styleOrange {
        background-color: #ffa500;
    }

    .styleGreen {
        background-color: #008000;
    }

    .styleRed,
    .styleYellow,
    .styleOrange,
    .styleGreen {
        width: 15px;
        height: 15px;
        align-self: center;
        margin-right: 10px;
    }


    .dataTable td:last-child {
        width: 10%;
    }

    td {
        border: 1px solid #313131;
    }

    .last2 {
        width: 20%;
    }

    .mainHeader {
        font-size: 1.75rem;
    }

    .logoImageContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid grey;
    }

    #divFooter,
    .logoImageContainer {
        display: none !important;
    }

    .footerContainer {
        border-top: 1px solid gray;
        padding-top: 1rem;
    }

    @media screen and (max-width: 800px) {
        .main_container {
            width: 100%
        }
    }

    .statusData{
        font-weight: 500;
        text-align: center;
    }

    .extensiveReport{
        display: none;
    }

    @media print {

        html,
        body {
            height: 99% !important;
        }

        .buttons {
            display: none !important;
        }

        .mainHeader {
            margin-top: 5rem;
        }

        #divFooter {
            display: flex !important;
            width: 100% !important;
            position: fixed !important;
            bottom: 0 !important;
            margin-left: -3rem;
        }

        .pagebreak {
            clear: both;
            page-break-after: always;
        }

        .logoImageContainer {
            display: flex !important;
            width: 100% !important;
            position: fixed !important;
            top: 0 !important;
            margin-left: -3rem;
        }

        * {
            -webkit-print-color-adjust: exact !important;
            /* Chrome, Safari 6 – 15.3, Edge */
            color-adjust: exact !important;
            /* Firefox 48 – 96 */
            print-color-adjust: exact !important;
            /* Firefox 97+, Safari 15.4+ */
        }

        .extensiveReport{
            display: block !important;
        }
    }
</style>
{% endblock %}

{% if request.user.is_authenticated %}

<div class="m-auto" style="display:flex; justify-content: center; margin: auto;">
    <div class="w-100" style="align-self: center; ">
        <div class="logoImageContainer">
            <img class="logoImage" src="{% static 'img/logo.png' %}" alt="logo"
                srcset="{% static 'img/logo.png' %}">
        </div>
        <div class="w-100" class="customForm">
            <div class="mainHeader card-header rounded text-center greyBg">
                <b>F</b>INAL
                <b>B</b>ACKGROUND
                <b>R</b>EPORT
            </div>
            <div class="d-flex justify-content-center my-3">
                <table class="candidateTable text-left w-100">
                    <tr>
                        <td class="w-25">Name of Candidate</td>
                        <td colspan="4">{{verification_record.candidate.first_name}}
                            {{verification_record.candidate.last_name}}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Date Initiated</td>
                        <td>{{verification_record.employee_store.created_date}}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Date of Report</td>
                        <td>{{dateTime}}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Color Code</td>
                        <td colspan="4" style="font-weight: 500; color: {{verification_record.get_overAll_status_display}};">
                            {{verification_record.get_overAll_status_display}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="d-flex w-100 justify-content-around background-grey ItemDetails">
                <div class="d-flex justify-content-center align-self-center">
                    <div class="styleRed"></div>
                    Major Discrepancy
                </div>
                <div class="d-flex justify-content-center align-self-center">
                    <div class="styleYellow"></div>
                    Minor Discrepancy
                </div>
                <div class="d-flex justify-content-center align-self-center">
                    <div class="styleOrange"></div>
                    Inaccessible for verification/Unable to verify/Inputs Required
                </div>
                <div class="d-flex justify-content-center align-self-center">
                    <div class="styleGreen"></div>
                    Clear Report
                </div>
            </div>
            <div>
                <h3 class="d-flex justify-content-center my-3">
                    Executive Summary
                </h3>
                <table class="dataTable text-left w-100">
                    <tr class="font-weight-bold greyBg">
                        <td colspan="5">EDUCATION VERIFICATION</td>
                    </tr>
                    <tr class="font-weight-bold">
                        <td>Type of Check</td>
                        <td class="text-center">Brief Details</td>
                        <td class="text-center last2">Verification Date</td>
                        <td class="text-center">Status</td>
                    </tr>
                    <tr>
                        <td>Education</td>
                        <td>{{collegeName.collegeName}}</td>
                        <td class="last2">{{verification_record.updated_date}}</td>
                        <td class="statusData" style="color: {{verification_record.education_status|GetDisplayName}}">{{verification_record.education_status|GetDisplayName}}</td>
                    </tr>
                </table>
            </div>
            <div class="d-flex justify-content-center my-3">
                <table class="dataTable text-left w-100">
                    <tr class="font-weight-bold greyBg">
                        <td colspan="5">DATABASE VERIFICATION</td>
                    </tr>
                    <tr class="font-weight-bold">
                        <td>Type of Check</td>
                        <td class="text-center last2">Verification Date</td>
                        <td class="text-center">Status</td>
                    </tr>
                    <tr>
                        <td>India Specific Database Checks</td>
                        <td class="last2">{{verification_record.updated_date}}</td>
                        <td class="statusData" style="color: {{verification_record.court_status|GetDisplayName}}" >{{verification_record.court_status|GetDisplayName}}</td>
                    </tr>
                    <tr>
                        <td>Global Database Checks</td>
                        <td class="last2">{{verification_record.updated_date}}</td>
                        <td class="statusData" style="color: {{verification_record.passport_status|GetDisplayName}}" >{{verification_record.passport_status|GetDisplayName}}</td>
                    </tr>
                </table>
            </div>
            <div class="d-flex justify-content-center my-3">
                <table class="dataTable text-left w-100">
                    <tr class="font-weight-bold greyBg">
                        <td colspan="5">ONLINE COURT RECORD VERIFICATION</td>
                    </tr>
                    <tr class="font-weight-bold">
                        <td>Type of Check</td>
                        <td class="text-center">Brief Details</td>
                        <td class="text-center last2">Verification Date</td>
                        <td class="text-center">Status</td>
                    </tr>
                    <tr>
                        <td>Present Address</td>
                        <td class="w-50">{{verification_record.employee_store.address}}</td>
                        <td class="last2">{{verification_record.updated_date}}</td>
                        <td class="statusData" style="color: {{verification_record.address_status|GetDisplayName}}">{{verification_record.address_status|GetDisplayName}}</td>
                    </tr>
                </table>
            </div>
            <div class="pagebreak"></div>
            <div class="extensiveReport">
                <div style="margin-top: 5rem">
                    <h3 class="d-flex justify-content-center my-3">
                        Summary Details
                    </h3>
                    <table class="dataTable text-left w-100">
                        <tr class="font-weight-bold greyBg text-center">
                            <td colspan="3">Education Verification: Education </td>
                        </tr>
                        <tr>
                            <td style="width: 33.3%; font-weight: bold; background-color: #f4f4f4;">Particulars</td>
                            <td style="width: 33.3%; font-weight: bold; background-color: #f4f4f4;">Application Details</td>
                            <td style="width: 33.3%; font-weight: bold; background-color: #f4f4f4;">Reported Details</td>
                        </tr>
                        <tr>
                            <td style="width: 33.3%; font-weight: bold; background-color: #f4f4f4;">Name of the Institution</td>
                            <td style="width: 33.3%;">{{collegeName.collegeName}}</td>
                            <td style="width: 33.3%;">{{collegeName.collegeName}}</td>
                        </tr>
                        <tr>
                            <td style="width: 33.3%; font-weight: bold; background-color: #f4f4f4;">Name of the Candidate</td>
                            <td style="width: 33.3%;">{{verification_record.employee_store.candidate_fullname}}</td>
                            <td style="width: 33.3%;">{{verification_record.employee_store.candidate_fullname}}</td>
                        </tr>
                        <tr>
                            <td style="width: 33.3%; font-weight: bold; background-color: #f4f4f4;">Degree</td>
                            <td style="width: 33.3%;">{{collegeName.degree}}</td>
                            <td style="width: 33.3%;">{{collegeName.degree}}</td>
                        </tr>
                        <tr>
                            <td style="width: 33.3%; font-weight: bold; background-color: #f4f4f4;">Month & Year of Passing </td>
                            <td style="width: 33.3%;">{{collegeName.yearOfGraduation}}</td>
                            <td style="width: 33.3%;">{{collegeName.yearOfGraduation}}</td>
                        </tr>
                        <tr>
                            <td style="width: 33.3%; font-weight: bold; background-color: #f4f4f4;">Remarks</td>
                            <td colspan="2">{{verification_record.education_remark}}</td>
                        </tr>
                    </table>
                </div>
                <div class="pagebreak"></div>
                <div class="d-flex justify-content-center" style="margin-top: 5rem;">
                    <img src="/media/{{verification_record.education_verified}}" alt="education" srcset="/media/{{verification_record.education_verified}}">
                </div>
                <div class="pagebreak"></div>
                <div style="margin-top: 5rem">
                    <table class="dataTable text-left w-100">
                        <tr class="font-weight-bold greyBg text-center">
                            <td colspan="3">Database Verification</td>
                        </tr>
                        <tr>
                            <td colspan="2">Record Not Found</td>
                        </tr>
                        <tr>
                            <td style="width: 2.5%; font-weight: bold; background-color: #f4f4f4;">Remarks</td>
                            <td>{{verification_record.address_remark}}</td>
                        </tr>
                    </table>
                </div>
                <div class="pagebreak"></div>
                <div class="d-flex justify-content-center" style="margin-top: 5rem;">
                    <img style="max-width: 90vw; max-height: 85vh;" src="/media/{{verification_record.address_verified}}" alt="address" srcset="/media/{{verification_record.address_verified}}">
                </div>
                <div class="pagebreak"></div>
                <div class="d-flex justify-content-center" style="margin-top: 5rem;">
                    <img style="max-width: 90vw; max-height: 85vh;" src="/media/{{verification_record.passport_verified}}" alt="passport" srcset="/media/{{verification_record.passport_verified}}">
                </div>
            </div>
        </div>
        <div class="buttons d-flex justify-content-around my-5">
            <button class="btn btn-secondary" type="button"
                onclick="window.location.href= '/candidate/{{verification_record.candidate.pk}}'">
                Cancel </button>
            <button class="btn btn-primary" type="button" onclick="window.print()"> Print Report </button>
        </div>
        <div id="divFooter" class="d-flex justify-content-center">
            <div class="text-center footerContainer">
                <h6>Confidential</h6>
                <div>Website: vorkinsta.com</div>
                <div>Email: verfication@vorkinsta.com</div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}

{% block script %}
{% endblock %}